<div class="mainscreen">
    <div class="card">
      <div class="leftside">
        <img src="https://i.pinimg.com/originals/18/9d/dc/189ddc1221d9c1c779dda4ad37a35fa1.png" class="product" alt="Shoes" />
      </div>
      <div class="rightside">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
          <p>Shipping address</p>
          <textarea id="address" name="address" [(ngModel)]="address" class="w-[100%] inputbox" required></textarea>
          <p>Pincode</p>
          <input type="number" class="inputbox" name="pincode" [(ngModel)]="pincode" required />
          <p>Cardholder Name</p>
          <input type="text" class="inputbox" name="cardholder" [(ngModel)]="cardholder" required />
          <p>Card Number</p>
          <input type="number" class="inputbox" name="cardNumber" [(ngModel)]="cardNumber" id="card_number" required />
  
          <p>Card Type</p>
          <select class="inputbox" name="cardType" [(ngModel)]="cardType" id="card_type" required>
            <option value="">--Select a Card Type--</option>
            <option value="Visa">Visa</option>
            <option value="RuPay">RuPay</option>
            <option value="MasterCard">MasterCard</option>
          </select>
          <div class="expcvv">
  
            <p class="expcvv_text">Expiry</p>
            <input type="date" class="inputbox" name="expiry_date" [(ngModel)]="expiry_date" id="exp_date" required />
  
            <p class="expcvv_text2">CVV</p>
            <input type="password" class="inputbox" name="cvv" [(ngModel)]="cvv" id="cvv" required />
          </div>
          <p></p>
          <button type="submit" class="button">CheckOut</button>
        </form>
      </div>
    </div>
  </div>